<div class="row">
  <div class="pre-scrollable col-md-6" style="margin-top: 5px; height: 700px;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Initials</th>
          <th scope="col">Persons</th>
          <th scope="col">Files</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="s in stats" >
          <td style="border: solid 1px grey;">{{ s.initial }}</td>
          <td style="border: solid 1px grey;">{{ s.personsCount }}</td>
          <td style="border: solid 1px grey;">{{ s.personFilesCount }}</td>
        </tr>
      </tbody>
    </table>
    <a id="bottom"></a>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <button class="btn btn-link btn-sm" style="font-size: 12px;" ng-click="showImportStats()" ng-disabled="isProcessing">Refresh Stats</button>
    <button class="btn btn-link btn-sm" style="font-size: 12px;" ng-click="startImportProcess()" ng-disabled="isProcessing">Start Import Process</button>
    <span>{{ message }}</span>
  </div>
</div>
<div ui-grid="{ data: stats }" class=""></div>
