<div>
  <button class="btn btn-outline-primary btn-sm" ng-click="showImportStats()" ng-disabled="isProcessing">Statistics</button>
  <button class="btn btn-outline-primary btn-sm" ng-click="startImportProcess()" ng-disabled="isProcessing">Import</button>
  <span>{{ message }}</span>
</div>
<div class="pre-scrollable col-md-6" style="margin-top: 5px;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Initials</th>
        <th scope="col">Persons</th>
        <th scope="col">Files</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="s in stats" >
        <td style="border: solid 1px grey;">{{ s.initial }}</td>
        <td style="border: solid 1px grey;">{{ s.personsCount }}</td>
        <td style="border: solid 1px grey;">{{ s.personFilesCount }}</td>
      </tr>
    </tbody>
  </table>
</div>
